* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', 'Roboto' sans-serif;
}

/* Global Css */
.container-width {
    width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
ul,
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 h5 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    transition: all 0.5s ease;
    border-radius: 5px;
    padding: 16px 25px;
    border: 1px solid transparent;
    width: 190px;
}
.btn i {
    font-size: 16px;
}
.btn:hover {
    color: #161616;
    letter-spacing: 1.5px;
}

/* Global Css End */

/* Section - Banner - Style Start */
.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    margin-top: 50px;
    border-radius: 30px;
    padding: 0 80px;
}
.hero-area h1.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.hero-area p.hero-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 40px;
    max-width: 450px;
}

.hero-btn {
    background-color: #DD0000;
    color: #FFFFFF;
}
.hero-btn:hover {
    background-color: #FFFFFF;
}

/* Section - Banner - Style End */

/* Section - Blog Post - Style Start */
.blog-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 130px;
}
.blog-area .btns-area a.active {
    background: #DD0000;
    color: #FFFFFF;
}
a.active:hover {
    background: transparent;
    color: #FFFFFF;
    border-color: #DD0000;
}

.btns-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #161616;
    padding: 15px;
    border-radius: 10px;
    margin-right: 24px;
}
.btns-area .btn {
    margin-bottom: 30px;
    padding: 17px 0px;
    font-size: 16px;
    background: #FFFFFF;
    color: #161616;
}
.blogs-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.single-blog {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}







/* Section - Blog Post - Style End */