/* Viewports between 0px and 480px wide */
@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .container-width {
        width: 100%;
    }
    .hero-area {
        flex-direction: column;
        text-align: center;
        padding: 0 35px;
    }
    .hero-area h1.hero-title {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .hero-area .banner-img img {
        padding-top: 50px;
    }
    .blog-area {
        flex-direction: column;
    }
    .blog-area .btns-area {
        background: transparent;
        width: 100%;
    }
    .blog-area .btns-area .btn {
        border: 1px solid #E8E8E8;
        width: 100%;
    }
  
    .blogs-post {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
        margin: 0 auto;
    }
    /* Section - Footer Area - Style Start */
 
    .footer-area .line {
        width: 100%;
    }
    .footer-area .footer-menu {
        flex-direction: column;
        padding-top:30px;
        padding-bottom: 50px;
    }

    .footer-area .footer-menu li:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 0;
    }


}
/* Viewports between 481px and 768px wide */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .container-width {
        width: 100%;
    }
    .hero-area {
        flex-direction: column;
        text-align: center;
        padding: 0 35px;
    }
    .hero-area h1.hero-title {
        font-size: 36px;
        line-height: 43px;
        padding-top: 30px;
    }
    .hero-area p.hero-desc {
        max-width: 100%;
    }
    .hero-area .banner-img img {
        padding-top: 50px;
    }
    .blog-area {
        flex-direction: column;
    }
    .blog-area .btns-area {
        width: 100%;
        padding: 30px 0;
        margin-bottom: 50px;

    }
    .blog-area .btns-area .btn {
        width: 80%;
    }
  
    .blog-area .btns-area .btn:not(:last-child) {
        margin-right: 10px;
    }
  
    .blogs-post {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        margin: 0 auto;
    }
    /* Section - Footer Area - Style Start */
 
    .footer-area .line {
        width: 100%;
    }
    .footer-area .footer-menu {
        flex-direction: column;
        padding-top:30px;
        padding-bottom: 50px;
    }

    .footer-area .footer-menu li:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 0;
    }
}
